## **1. 파이썬 컬렉션**
1. 컬렉션 타입 소개
2. 리스트

### <strong>1. 컬렉션 타입 소개</strong>
+ Immutable Sequence 유형: Tuples, String
+ Mutable Sequence 유형: Lists, Sets

In [1]:
# [+] Tuple은 (value 1, value 2, ..., value n)와 같은 형식으로 선언
coordinate = (3,4) # Tuple 예: 좌표
coordinate[0]  # 셀 마지막 문장 실행 결과는 print() 상관없이 출력

3

In [2]:
# [+] Tuple은 값 변경이 불가능하다(immutable).
coordinate[0]=5

TypeError: 'tuple' object does not support item assignment

In [ ]:
# String 선언 방식: "문자열 내용" 또는 '문자열 내용'
name = "Hyun Ahn"
type(name)

str

In [ ]:
# [+] String도 역시 immutable
name[5] = "kim"

TypeError: 'str' object does not support item assignment

In [ ]:
# [+] List 선언 방식: [value 1, value 2, ..., value n]
my_info_lst = ['abc', 2025, 1.0, False] # list 예: 개인정보
my_info_lst

['abc', 2025, 1.0, False]

In [ ]:
# [+] List는 값 변경(추가, 삭제, 수정)이 가능하다.
my_info_lst[1] = 2024 # 수정
my_info_lst.append('suwon') # 추가
my_info_lst.remove(1.0) # 삭제
my_info_lst

['abc', 2024, False, 'suwon']

In [ ]:
my_info_lst.append('suwon') # 추가
my_info_lst

['abc', 2024, False, 'suwon', 'suwon', 'suwon']

In [ ]:
# [+] Set 선언 방식: set(List 객체)
my_info_set = set(my_info_lst)
my_info_set

{2024, False, 'abc', 'suwon'}

In [ ]:
# [+] Set은 중복 허용하지 않고, 순서가 없다.
my_info_set
my_info_set

{2024, False, 'abc', 'suwon'}

In [ ]:
# [+] Dictionary 선언 방식: {'key 1':'value 1', ..., 'key n': 'value n'}

hsu_dict = {
    'name' : 'Hanshin University0',
    'establshment year' : 1940,
    'public | private' : 'private'
}
hsu_dict

{'name': 'Hanshin University0',
 'establshment year': 1940,
 'public | private': 'private'}

In [ ]:
# [+] Dictionary 값 추가
hsu_dict['num. of enrooled students'] = 7588
hsu_dict

{'name': 'Hanshin University0',
 'establshment year': 1940,
 'public | private': 'private',
 'num. of enrooled students': 7588}

### <strong>2. 리스트</strong>

In [ ]:
# [+] 리스트 선언
primes = [1,2,3,5,7,11,13,17,19]
primes

[1, 2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
# 다양한 유형의 데이터 저장
mixed = ['Jenny', 1, 1.4, True]
mixed

In [ ]:
# 다차원 리스트
list_of_lists = [['a', 1], ['b', 2]]
list_of_lists

[['a', 1], ['b', 2]]

In [ ]:
# Zero-indexing
names = ['Roger', 'Rafael', 'Andy', 'Novak']

print(names[0]) # first data
print(names[1])
print(names[2])
print(names[3])

Roger
Rafael
Andy
Novak

In [ ]:
# Negative indexing
print(names[-1]) # last data
print(names[-2]) # second to last data
print(names[-3]) # third to last data
print(names[-4])

Novak
Andy
Rafael
Roger

In [ ]:
# [+] 리스트 슬라이싱
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
building_slice = hsu_buildings[1:4] # [장공관, 필헌관, 소통관] 선택
building_slice

['장공관', '필헌관', '소통관']

In [ ]:
# [+] 슬라이스 값 수정
building_slice[0] = '생활관'
print(building_slice)
print(hsu_buildings)

['생활관', '필헌관', '소통관']
['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']

In [ ]:
# 다차원 리스트
restaurants = [['해우리', '한식', '고S'], ['효자동설렁탕', '한식', '양곰탕'], 
               ['찌개동아리', '한식', '제육전골'], ['몽상', '양식', '매운크림리조또']]

restaurants

[['해우리', '한식', '고S'],
 ['효자동설렁탕', '한식', '양곰탕'],
 ['찌개동아리', '한식', '제육전골'],
 ['몽상', '양식', '매운크림리조또']]

In [ ]:
restaurants[2][2]

'제육전골'

In [ ]:
# [+] 리스트 수정 
# 해우리의 대표 메뉴를 '고S'에서 '해우라면'으로 수정
restaurants[0][2] = '해우라면'
restaurants[0]

['해우리', '한식', '해우라면']

In [ ]:
# [+] 리스트 병합하기
items_one = ['cake', 'cookie', 'bread']
items_two = ['biscuit', 'tart']

total_items = items_one + items_two
total_items

['cake', 'cookie', 'bread', 'biscuit', 'tart']

#### <strong>리스트에서 제공하는 메소드들</strong>

In [ ]:
# [+] len()
knapsack = [2, 4, 3, 7, 10]
size = len(knapsack)
size

5

In [ ]:
# [+] append()
orders = ['daisies', 'periwinkle']
orders.append('tulips')
orders

['daisies', 'periwinkle', 'tulips']

In [ ]:
# [+] insert()
store_line = ['Karla', 'Maxium', 'Martin', 'Isabella']
store_line.insert(2,"Vikor")
store_line

['Karla', 'Maxium', 'Vikor', 'Martin', 'Isabella']

In [ ]:
# [+] sort()
numbers = [4, 2, 1, 3]
numbers.sort()
numbers

[1, 2, 3, 4]

In [ ]:
# [+] sorted()
hsu_buildings = ['만우관', '장공관', '필헌관', '소통관', '송암관', '늦봄관', '장준하통일관']
hsu_buildings.sort()
print(...)
print(hsu_buildings)

Ellipsis
['늦봄관', '만우관', '소통관', '송암관', '장공관', '장준하통일관', '필헌관']